<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="primary">
  <span class="app-title">Комментарии App</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Главная</a>
  <a mat-button routerLink="/comments">Комментарии</a>
</mat-toolbar>

<div class="app-container">
  <router-outlet></router-outlet>

  <!-- Главная страница отображается, если мы на корневом пути -->
  <div *ngIf="isHomePage" class="home-page">
    <h1>ПРИВЕТ 👋</h1>
    <p>Это главная страница приложения.</p>
  </div>
</div>
